{% extends 'base.html' %}
{% block title %} {{ title }} {% endblock %}

{% block content %}

{% from "_macro.html" import render_field %}
<h1>Hello form index.html</h1>

<form method="post">
    <div class="form-group">
      <div >{{render_field(form.username,class='form-control') }}</div>
  </div>

  <div class="form-group">
      <div >{{render_field(form.email,class='form-control')}}</div>
  </div>


    <br>
    <button value="submit" type="submit">click here</button>
</form>



{% endblock %}
